body {
    font-family:  "Public Sans", serif;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.imagens { 
    font-size: 5px;
  
}

.imagens a {
    
}