body {
    font-family: Oxanium,cursive ; /*a fonte tudo o que estava no bdoy do site estilizou inclusive ciclope abaixo*/
    background-color: #000000; /*esta cor é uam hexadecimal dev usou do figma mais no seu projeto pode usar a sua cor */
    color: #ffffff;/*aqui modigica as cores do texto*/
}

body::before{ /*este body com dois pontos é para criar antes do body pseudo elemento qué o fundio preto */
    content: "";
    background-image: url(../imagens/bg-desktop.jpg) ;/*esses dois pontos é para voltar a pasta que tem antes src para chegar na pasta imagem*/
    background-repeat: no-repeat;/*para que não repita coloca o no-repeat*/
    background-size: cover;/*serve para cobrir*/
    background-position: center;/*posicionar no centro as imagens*/
    width: 100%;
    height: 100%;
    position: absolute;/*ele cria como se fosse camada no site antes das imagens do site*/
    z-index: -1;/*esse comando traz as imagens para frente que é eixo de profundidade */
    opacity: 0.2;

}

.cabecalho {
    display: flex;/* este flex é uma explicação que header é uma tag pai e a img se olhar html é filha e para centralizar img vai colocar just content abaixo que é no header que é pai para centralizar*/
    
    justify-content: center; /* alinha horizontalmente de acordo com display flex*/
}

.selecao-de-personagens {
    
    display: flex;
    align-items: center; /* alinha verticalmente de acordo com display flex*/
    gap: 30px;
    min-height: calc(100vh - 152px) ;/*vh(view/hight) é a visão do seu navegador e 152px é desconto para que navegador n]ão fique com rolagem para cima e baixo*/
    justify-content: center;/*para centralizar os personagem no navegador*/
}

.selecao-de-personagens .lista-de-personagens {
   display: flex;
   
   flex-wrap: wrap;
   gap: 30px ;
   justify-content: center;

}

.selecao-de-personagens .personagens
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 585px;
    gap: 25px;
}

.selecao-de-personagens .personagens .titulo{
    font-size: 20px;
    letter-spacing: 4px; /*espaçamento entre as letras do selecione personagem*/
    text-transform: uppercase;
    border-bottom: 2px solid #47f4ff;/*borda bootom ela coloca só embaixo*/
    width: 100%; /*essa largura é para borda vai se basear no pai h1  */
    text-align: center; /*alinhar o texto selecione personagem*/
}

.lista-de-personagens .personagem {
	border-bottom: 4px solid #47f4ff;
}

.lista-de-personagens .personagem img{
    width: 100%; /*essas poorcentagens são para que as imagens fiquem desfocadas não vai influenciar nas imagens em tamanho*/
    height: 100%; /*essas poorcentagens são para que as imagens fiquem desfocadas não vai influenciar nas imagens em tamanho*/
}

.lista-de-personagens .personagem.selecionado{
    box-shadow: 0px 0px 24px 5px #0271f7;
}

.personagem-selecionado{
    
    text-align: center; /*alinha o texto do cliclope */
    max-height: 530px;
}
.personagem-selecionado .personagem-grande{
    width: 430px ;
    height: 430px;
}

.personagem-selecionado .nome-personagem{
    border-bottom: 2px solid #47f4ff ;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.personagem-selecionado .descricao-personagem{
    font-size: 16px; /*todas essas informações de px estão no Figma onde foi orientado a tirar dados pelo dono do site*/
    line-height: 22px;
    text-align: center;
    margin-top: 20px;/*serve para dar espaço entre texto e titulo*/
    width: 420px;
}