/* ----------------------------------------  */
/* --------------TEXT ALIGN----------------  */
/* ----------------------------------------  */
.alinhado-esquerda {
    text-align: left;
}

.alinhado-direita {
    text-align: right;
}

.alinhado-centro {
    text-align: center;
}

/* .alinhado-justificado {
    text-align: justify;
} */

/* --------------------------------------------  */
/* --------------TEXT TRANSFORM----------------  */
/* --------------------------------------------  */

/* 
.maiuscula {
    text-transform: uppercase;
}

.minuscula {
    text-transform: lowercase;
}

.capitalizado {
    text-transform: capitalize;
} */

/* --------------------------------------------  */
/* --------------TEXT DECORATION----------------  */
/* --------------------------------------------  */

/* .sublinhado {
    text-decoration: underline;
} 

.linha-sobreposta {
    text-decoration: line-through;
} 

.sem-text-decoration {
    text-decoration: none;
}  */

