div {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 10px solid green;
}

.Com-border-box {
    background-color: aquamarine;
    box-sizing: border-box;
}

.Sem-border-box {
    background-color: brown;
    
}

