p {
    color:coral;
    font-size: 24px;
    font-weight: bold;
}

.bg{
    background-color:lightgreen;
    background-image: url(./images/cat.png);
    


}

.bg-image {
    width: 513px;
    height: 340px;
}

.bg-repeat {
    background-repeat: no-repeat;
    height: 540px;
}
/* .bg-repeat {
    background-repeat: no-repeat;
    height: 540px;
}
 */